<form action="http://www.html.am/html-codes/forms/html-form-tag-action.cfm" target="result" method="get">
<h1 style = "text-align:center;">Migration Output</h1>
<div align = "justify">
<label for = "Migration Activity Output File"> Migration Activity Output File </label>
<input type="text" name="Migration Activity Output File" id="Migration Activity Output File"><br> </br> 
<input type="button" value="Download"><br> </br>
<p><input type="submit" value="Click Here For Next Migration"></p>
</div>
</form>
